.question-form-container
  %h3 Post a new question
  = bootstrap_form_for(@question, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5",remote: true, format: :json) do |f|
    = f.text_field :title
    = f.text_area :content, size: "60x12"
    - button_text = @question.new_record? ? "Post" : "Edit"
    = f.submit "#{button_text} Question"
