<h1><%= @question.title %></h1>
<div>
  <%= @question.content %>
</div>

<div class="container answers">
  <% @answers.each do |answer| %>
    <div class="answer">
      <h2><%= answer.title %></h2>
      <%= link_to "delete", ([@question, answer]), method: :delete %>
      <p>
        <%= answer.content %>
      </p>
    </div>
  <% end %>
</div>

<h3>Answer this question</h3>
<%= render "answers/answer_form" %>
